#header{
    display: flex;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    padding: 20px;
    text-align: center;
    background-color: yellowgreen;
    justify-content: center;
    align-items: center;
}

.task{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}